{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="row">
    <h2 class="my-5"> Welcome to Car Hut BD </h2>
    <div class="col-6"> 
        <p class="" style="text-align:justify"> 
          Contrary to popular belief, Lorem Ipsum is not simply random text. 
          It has roots in a piece of classical Latin literature from 45 BC, 
          making it over 2000 years old. Richard McClintock, a Latin professor 
          at Hampden-Sydney College in Virginia, looked up one of the more obscure 
          Latin words, consectetur, from a Lorem Ipsum passage, and going through 
          the cites of the word in classical literature, discovered the undoubtable 
          source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus 
          Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
          This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.    
        </p> 
    </div>
    <div class="col-6"> 
        <img src="{% static "factory4.jpg" %}" alt="" srcset="">   
    </div>
</div> 

<button type="button" class="btn btn-info mt-5">
  Total Car Found : <span class="badge text-bg-warning"> {{ car | length }} </span>
</button>
<div class="py-5">
    {% for i in carBrand %}
        <a href=" {% url 'brand_wise_cars' i.slug %} " style="font-size: 18px" class="btn btn-outline-dark mx-1 "> {{ i }} </a>
    {% endfor %} 
   
      <div class="row flex gap-5 p-2 ">
        {% for c in car %}
         <div class="card p-0 my-2" style="width: 18rem;">
          <img src="{{ c.car_img.url }}" class="card-img-top h-75" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{ c.car_name }} </h5>
            <h6 class="card-title"> {{ c.brand }} </h6>
            <p class="card-text"> 
              Price: Starting at <strong>BDT: {{ c.price }}</strong> <br>
              Quantity: <strong>{{ c.quantity }}</strong> <br>
              {{ c.description | truncatechars:50 }}  
            </p>
            <div class="text-center">
              <a href=" {% url 'car-details' c.id %} " class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>  
        {% endfor %}
      </div>
  </div> 
</div>

{% endblock content %}